.container {
  height: calc(100vh - 300px);
  padding-bottom: 60px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.loadingContainer {
    text-align: center;
    margin-top: 50px;
}
.noItemMessage {
    text-align: center;
    margin: 10px 0;
}