.searchBtnContainer {
  text-align: right;
}
.searchBtnContainer button {
  background-color: #400d54;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 54px;
}
.searchBoxContainer input {
  background-color: transparent;
  border: solid 1px #dfdfdf;
  height: 54px;
  padding: 0 20px;
  width: 100%;
  border-radius: 5px;
}
